<html>
  <head>
    <meta charset="UTF-8" />
    <title>Histogramme</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
    <div id="chart_div"></div>
    <script>
      // Chargement de Google Charts
      google.charts.load('current', { packages: ['corechart'] });
      google.charts.setOnLoadCallback(drawBackgroundColor);
      
      function drawBackgroundColor() {
        function drawChart(data) {
          // Convertir les données récupérées en un tableau utilisable par Google Charts
          var dataTable = new google.visualization.DataTable();
          dataTable.addColumn('string', 'Date');
          dataTable.addColumn('number', 'Valeur');

          // Ajouter les données au tableau
          data.results.forEach(entry => {
            var date = new Date(entry.Jour * 1000);
            dataTable.addRow([date.toLocaleDateString(), entry.temp]);
          });

          // Configurer les options de l'histogramme
          var options = {
            title: 'Histogramme des températures de la ville de Tawarano',
            legend: { position: 'none' }, // Pas de légende nécessaire pour un histogramme
            hAxis: {
              title: 'Date'
            },
            vAxis: {
              title: 'Température (°C)'
            },
            colors: ['#76A7FA'] // Couleur des barres
          };

          // Initialisation de l'histogramme
          var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
          chart.draw(dataTable, options);
        }

        // Récupération de données depuis l'API /tawarano/
        fetch('/tawarano/')
          .then(response => response.json())
          .then(data => {
            drawChart(data);
          });
      }
    </script>
  </body>
</html>
